<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>523674700825-ondv1adn4to8vtfuh4qbu3fjomjkvtn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523674700825-ondv1adn4to8vtfuh4qbu3fjomjkvtn2</string>
	<key>API_KEY</key>
	<string>AIzaSyDjEovCCJw-Cnb3Oip3yE_obhPL14Wn4kk</string>
	<key>GCM_SENDER_ID</key>
	<string>523674700825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaumpkids.gameofchats</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-65c32</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-65c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:523674700825:ios:f0bbed2c1b959b51</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchats-65c32.firebaseio.com</string>
</dict>
</plist>